body {
    background-image: url(moto.jpeg);
    background-color: #eee;
}

.overlay {
    width: 1280px;
    height: 660px;
    background-color: #eeeeee6e;

}

.wrapper {
    height: 40px;
    width: 344px;
    align-items: center;
    margin-top: 187px;
    margin-left: 503px;
}

.btn {
    width: 120px;
    height: 44px;
    color: #eee;
    background-color: #7C7470;

}

.input {
    height: 39px;
    width: 90px;

}
